<div class="container-fluid">
  <div class="row top_header">
    <div class="col-7 header_next header_top_left">
      <div class="top_img_top d-flex">
        <img src="/img/top_left.png" alt="" class="top_img my-2 mx-2">
        <img src="/img/top_right.png" alt="" class="top_img my-2 mx-2">
      </div>
      <div class="top_img_bottom d-flex">
        <img src="/img/bottom_left.png" alt="" class="top_img my-2 mx-2">
        <img src="/img/bottom_right.png" alt="" class="top_img my-2 mx-2">
      </div>
    </div>
    <div class="col-5 header_next header_top_right">
      <div class="header_comment">
        <h3 class="header_title">遊びましょう。</h3>
        <h3 class="header_title mb-4">同じアプリで。同じレベルで。</h3>
        <p>将棋は年代問わず遊べて</p>
        <p>コミュニティを広げるのに最適です。</p>
        <p>あなたが遊びたい形で対戦相手を探して見ましょう。</p>
      </div>
      <div class="view-more my-4">
        <button class="learn-more">
          <span class="circle" aria-hidden="true">
            <span class="icon arrow"></span>
          </span>
          <a href="/posts/all_content">
            <span class="button-text">対戦相手を探す</span>
          </a>
        </button>
      </div>
      <div class="view-more my-4">
        <button class="learn-more">
          <span class="circle" aria-hidden="true">
            <span class="icon arrow"></span>
          </span>
          <a href="/tournaments/all_content">
            <span class="button-text">大会を探す</span>
          </a>
        </button>
      </div>
      <div class="view-more my-4">
        <button class="learn-more">
          <span class="circle" aria-hidden="true">
            <span class="icon arrow"></span>
          </span>
          <a href="/communities/all_content">
            <span class="button-text">イベントを探す</span>
          </a>
        </button>
      </div>
    </div>
  </div>
  <h1 class="top_bottom_title">----ノシ将棋の3つの特徴----</h1>
  <div class="row top_bottom">
    <div class="col-4 top_feature">
      <img src="/img/post.png" alt="オンライン対戦" class="top_img top_bottom_content">
      <h2 class="mb-4">１．オンライン対戦</h2>
      <p>様々なアプリを使用していただいて対戦することができます。</p>
      <p>棋力を検索していただければ自分と同じレベルの方とも対戦できます。</p>
    </div>
    <div class="col-4 top_feature">
      <img src="/img/tournament.png" alt="大会" class="top_img top_bottom_content">
      <h2 class="mb-4">２．大会</h2>
      <p>気楽にオンライン上で大会を開くことができ、</p>
      <p>白熱して対戦することができます。</p>
    </div>
    <div class="col-4 top_feature">
      <img src="/img/community.png" alt="コミュニティイベント" class="top_img top_bottom_content">
      <h2 class="mb-4">３．コミュニティイベント開催</h2>
      <p>将棋の醍醐味は対面で対戦することだと思います。</p>
      <p>イベントを開催して色々な将棋仲間と出会いましょう。</p>
    </div>
  </div>
</div>
