<div class="col-md-3 d-none d-md-block bg-light sidebar">
  <%= search_form_for @q, url: tournaments_search_tournament_path, class:"ml-4 w-75 d-inline center-block" do |f| %>
    <div class="input-group header_top">
      <%= f.search_field :tournament_chess_or_tournament_app_or_tournament_time_or_tournament_all_tag_cont, placeholder: 'ä½•ã§ã‚‚æ¤œç´¢...', class: 'form-control', id: 'tags_top'%>
      <%= f.submit ("ðŸ”"), class: 'btn btn-secondary' %>
    </div>
  <% end %>
</div>
