<div class="container-fluid">
  <div class="row">
    <%= render "tournament_search_bar" %>
		<div class="col-lg-9 px-4 ml-auto order-1">
			<div class="heading">
				<h2>検索結果</h2>
			</div>
      <fieldset class="d-block d-lg-none post_choice">
        <input id="item-1" class="radio-inline__input" type="radio" name="accessible-radio" value="/posts" onclick="location.href=this.value"/>
        <label class="radio-inline__label" for="item-1">
            対戦
        </label>
        <input id="item-2" class="radio-inline__input" type="radio" name="accessible-radio" onclick="location.href=this.value" value="/tournaments" checked="checked"/>
        <label class="radio-inline__label" for="item-2">
            大会
        </label>
        <input id="item-3" class="radio-inline__input" type="radio" name="accessible-radio" value="/communities" onclick="location.href=this.value"/>
        <label class="radio-inline__label" for="item-3">
            イベント
        </label>
      </fieldset>
    </div>
		<div class="col-lg-9 px-4 ml-auto order-3">
      <%= render 'tournament_show' %>
			<%= paginate @tournaments %>
		</div>
	</div>
</div>
