/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/
@import '~bootstrap/scss/bootstrap';
@import "~tempusdominus-bootstrap-4/src/sass/tempusdominus-bootstrap-4";
@import 'jquery.tagsinput.min';

$header-height: 60px;
$interval: 60px;
$main_color: #FFFF80;
$font_main_color: #FF6D05;
$font_text_color: #4A4A4A;
$font_tag_color: #FF8C00;
$footer_menu_height: 50px;
$btn_color: #fd9535;

* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

body {
  font-family: 'ヒラギノ明朝 ProN W3',"游ゴシック体","游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic","Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3","Yu Gothic Medium", "游ゴシック Medium","游ゴシック体",  "メイリオ", sans-serif;
}

header {
  position: fixed;
  height: $header-height;
  width: 100%;
  z-index: 2;
  padding: 0 20px 0 0;
  background-color: $main_color;
  line-height: $header-height;
}

a {
  text-decoration: none;
  color: #000;
  &:hover {
    text-decoration: none;
  }
}

li {
  list-style: none;
}

.alert, .notice {
  top: $header-height;
  text-align: center;
  margin-bottom: 0px;
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

.form-control {
  height: 46px;
}

.icon_image {
  width: 80px;
  height: 80px;
  border-radius: 100px;
  object-fit: cover;
  cursor: pointer;
}

.icon_no_link {
  width: 130px;
  height: 130px;
  border-radius: 100px;
  object-fit: cover;
}

.header_next {
  margin-top:$header-height + 30px;
}

.room_header {
  margin-top: $header-height;
  padding: 0;
}

.top_img_top {
  justify-content: center;
}

.top_img_bottom {
  justify-content: center;
}

.top_feature {
  text-align: center;
}

.top_img {
  border-radius: 50%;
  width: 30%;
}

.top_header {
  background-color: $main_color;
}

.top_bottom_title {
  text-align: center;
  margin-top: $interval;
  margin-bottom: $interval;
  color: $font_main_color;
}

.top_bottom_content {
  margin-bottom: $interval;
}

.top_bottom {
  margin-bottom: $interval;
}
.header_body {
  display: flex;
  justify-content: space-around;
}

.logo {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.header_image {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  object-fit: cover;
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 5px;
}

#img_prev {
  width: 130px;
  width: 130px;
  height: 130px;
  border-radius: 100px;
  object-fit: cover;
}

.image_prof {
  line-height: 130px;
  padding-right: 20px;
}

.address_bar {
  color: #FFF;
  background-color: $btn_color;
  border-color: $btn_color;
  &:focus {
    color: #FFF;
    background-color: $btn_color;
    border-color: $btn_color;
  }
}

.header_icon {
  padding-top: 8px;
}

.header_search {
  margin-right: 30px;
  color: $font_main_color;
}

.header_top_left {
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.header_top_right  {
  padding-top: 15vh;
}

.header_comment {
  margin-bottom: 70px;
}

.header_title{
  color: $font_main_color;
}

.sidebar {
  position: fixed;
  overflow:auto;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  z-index: 1;
  margin-top: $header-height;
  @media screen and (min-width: 991px) {
    height: 100%;
  }
}

.search_sidebar {
  position: fixed;
  overflow:auto;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  z-index: 1;
  @media screen and (min-width: 991px) {
    height: 100%;
  }
}

.sidebar::after {
  display: block;
  width: 1px;
  height: $header-height;
  content: '';
}

.sidebar_item {
  padding: 0;
  font-weight: bold;
}

.room_top {
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .1);
  height: 50px;
  width: 100%;
  background-color: #FFF;
  position: fixed;
  z-index: 1;
  line-height: 50px;
}

.sidebar_top {
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .1);
  height: 50px;
  width: 100%;
  background-color: #FFF;
  z-index: 1;
  line-height: 50px;
}

.sidebar_font {
  font-size: 16px;
}

.room_top_font {
  font-size: 16px;
  margin-bottom: 0;
}

.sidebar_post {
  display: block;
  height: 50px;
  line-height: 25px;
  background-color: $btn_color;
  text-align: center;
  border: 1px $btn_color solid;
  color: #FFF;
  letter-spacing: 0.1em;
  border-radius: 30px;
  margin-top: 20px;
  max-width: 240px;
}

.card{
  width: 100%;
}

.profile_link {
  display: none;
  position: absolute;
  z-index: 1;
  width: 30rem;
}

.profile_img {
  text-align: center;
}

.profile_body:before {
  position: absolute;
  content: '';
  border: 10px solid transparent;
  border-bottom: 10px solid #aaa;
  top: -20px;
  left: 30px;
}

.profile_body:after {
  position: absolute;
  content: '';
  border: 10px solid transparent;
  border-bottom: 10px solid #fff;
  top: -19px;
  left: 30px;
}

.profile_btn {
  color: $font_main_color;
}

.view-more {
  font-size: 1rem;
  line-height: 1.5;
}

.learn-more {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  &.learn-more {
    width: 12rem;
    height: auto;
    .circle {
      @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
      position: relative;
      display: block;
      margin: 0;
      width: 3rem;
      height: 3rem;
      background: #282936;
      border-radius: 1.625rem;
      .icon {
        @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background: #fff;
        &.arrow {
          @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
          left: 0.625rem;
          width: 1.125rem;
          height: 0.125rem;
          background: none;
          &::before {
            position: absolute;
            content: '';
            top: -0.25rem;
            right: 0.0625rem;
            width: 0.625rem;
            height: 0.625rem;
            border-top: 0.125rem solid #fff;
            border-right: 0.125rem solid #fff;
            transform: rotate(45deg);
          }
        }
      }
    }
    .button-text {
      @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0.75rem 0;
      margin: 0 0 0 1.85rem;
      color: #282936;
      font-weight: 700;
      line-height: 1.6;
      text-align: center;
      text-transform: uppercase;
    }
  }
  &:hover {
    .circle {
      width: 100%;
      .icon {
        &.arrow {
          background: #fff;
          transform: translate(1rem, 0);
        }
      }
    }
    .button-text {
      color: #FFF;
    }
  }
}

.buttonConfirm {
  display: block;
  margin: 30px auto;
  width: 260px;
  height: 60px;
  background-color: #002247;
  text-align: center;
  border: 1px #002247 solid;
  line-height: 50px;
  color: #FFF;
  font-size: 16px;
  letter-spacing: 0.1em;
  border-radius: 30px;
}

.buttondestroy {
  display: block;
  margin: 30px auto;
  width: 260px;
  height: 60px;
  background-color: #FF3366;
  text-align: center;
  border: 1px #FF3366 solid;
  line-height: 50px;
  font-size: 16px;
  letter-spacing: 0.1em;
  border-radius: 30px;
}

.buttonguest {
  display: block;
  margin: 30px auto;
  width: 260px;
  height: 60px;
  background-color: $btn_color;
  text-align: center;
  border: 1px $btn_color solid;
  line-height: 50px;
  font-size: 16px;
  letter-spacing: 0.1em;
  border-radius: 30px;
  color: #FFF;
  &:hover {
    color: #FFF;
  }
}

.btn-circle-3d {
  display: inline-block;
  text-decoration: none;
  background: #FF3366;
  color: #FFF;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  overflow: hidden;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #bd6565;
  transition: .4s;
  cursor: pointer;
}

.btn-circle-3d:active {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  border-bottom: none;
}

.exit_color {
  background-color: $btn_color;
}

.balloon {
  margin-bottom: 20px;
  position: relative;
}

.balloon:before,.balloon:after {
  clear: both;
  content: "";
  display: block;
}

.balloon-name-left {
  float: left;
  margin-right: 20px;
}

.balloon-name-description {
  padding: 20px 0 0;
  font-size: 10px;
}

.balloon-name-media {
  padding: 20px 0 0;
  font-size: 10px;
  text-align: center;
}

.balloon-text-right,.balloon-text-left {
  position: relative;
  padding: 10px;
  border: 1px solid;
  border-radius: 10px;
  max-width: -webkit-calc(100% - 120px);
  max-width: calc(100% - 120px);
  display: inline-block;
}

.balloon-text-left {
  border-color: #aaa;
  float: left;
  margin-left: 10px;
  margin-top: 10px;
}

.balloon-text-right {
  border-color: #aaa;
  background-color: #E9E2D0;
  float: right;
}

.balloon p {
  margin: 0 0 20px;
}

.balloon-text-left:before {
  position: absolute;
  content: '';
  border: 10px solid transparent;
  border-right: 10px solid #aaa;
  top: 15px;
  left: -20px;
}

.balloon-text-left:after {
  position: absolute;
  content: '';
  border: 10px solid transparent;
  border-right: 10px solid #fff;
  top: 15px;
  left: -19px;
}

.balloon-text-right:before {
  position: absolute;
  content: '';
  border: 10px solid transparent;
  border-left: 10px solid #aaa;
  top: 15px;
  right: -20px;
}

.balloon-text-right:after {
  position: absolute;
  content: '';
  border: 10px solid transparent;
  border-left: 10px solid #E9E2D0;
  top: 15px;
  right: -19px;
}

#message-container {
  margin: 0 auto;
  padding: 1rem 1rem 8rem 1rem;
}

#fixed_bottom {
  position: fixed;
  width: 75%;
  bottom: 0;
  padding: 1rem;
  text-align: center;
  background-color: white;
}

.pagination {
  justify-content: center;
}
.pagination>li>a {
  border: none;
  color: #696969;
}

.pagination>.active>a {
  background: #93c9ff;
  border-radius: 15px;
}

.pagination>li>a:hover {
  border-radius: 15px;
}

.index_map {
  height: 800px;
}

.show_map {
  height: 500px;
  text-align: center;
  margin-bottom: 30px;
}

.message_image {
  width: 60px;
  height: 60px;
  border-radius: 100px;
  object-fit: cover;
  cursor: pointer;
}

.message_bar {
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .1);
  width: 100%;
}

.mypage_message_date {
  color: $font_main_color;
}

.mypage_message_user {
  font-weight: bold;
}

.messagebar_right {
  line-height: 60px;
}

.messagebar_message_right {
  line-height: 30px;
  width: 75%;
  padding-right: 15px;
}

.messagebar_date {
  float: right;
  clear: both;
}

.explanation_main {
  margin: 32px 0;
  font-size: 14px;
}

.explanation_title {
  color: #000;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 16px;
}

.explanation_show {
  list-style: none;
}

.explanation_show > li {
  padding-bottom: 10px;
}

.inputInformation {
  text-align: center;
  font-size: 16px;
  padding: 40px 0;
}

.heading {
  font-size: 34px;
  line-height: 40px;
  margin-bottom: 50px;
  padding-top: $header-height + 30px;
  color: $font_main_color;
}

.sidebar_heading {
  font-size: 24px;
  line-height: 40px;
  margin-bottom: 50px;
  padding-top: $header-height + 30px;
}

.login_title {
  font-size: 24px;
  line-height: 40px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px #AAAAAA solid;
}

.login_content {
  padding-left: 50px;
  padding-right: 50px;
}

.login_form {
  background: rgba(126,126,126,0.08);
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-bottom: 30px;
}

.devise_menu {
  color: #005FFF;
}

.notlogin_text {
  margin-top: 100px;
}

.guestContainer {
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
}

.buttonContainer {
  margin-top: 50px;
  margin-bottom: 50px;
}

.post_box_outer{
  width: 80%;
  border: solid 1px silver;
  border-radius: 30px;
  margin-bottom: 20px;
  padding: 25px 40px;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
}

.post_box > p, h4 {
  color: #000;
}
.show_box_outer{
  width: 100%;
  border: solid 1px silver;
  border-radius: 30px;
  margin-bottom: 20px;
  padding: 25px 40px;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
}

.post_date {
  text-align: right;
  width: 100%;
}

.search_tag {
  margin-top: 30px;
  margin-bottom: 30px;
}

.search_tag_text {
  align-items: center;
  background-color: whitesmoke;
  border-radius: 4px;
  color: $font_tag_color;
  display: inline-flex;
  font-size: 0.75rem;
  height: 3em;
  justify-content: center;
  line-height: 1.5;
  padding-left: 0.75em;
  padding-right: 0.75em;
  white-space: nowrap;
  margin-bottom: 10px;
  margin-right: 10px;
  &:hover {
    color: $font_tag_color;
  }
}

.tag_text {
  align-items: center;
  background-color: whitesmoke;
  border-radius: 4px;
  color: $font_tag_color;
  display: inline-flex;
  font-size: 0.75rem;
  height: 2em;
  justify-content: center;
  line-height: 1.5;
  padding-left: 0.75em;
  padding-right: 0.75em;
  white-space: nowrap;
  margin-bottom: 10px;
}

.side_user_edit {
  margin-bottom: 30px;
  text-align: center;
}

#messages {
  padding-top: $header-height + 50px;
}

.footer_menu_body {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: $footer_menu_height;
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, .1);
  background-color: #fff;
  z-index: 2
}

.footer_munu_font {
  font-size: 10px;
  text-align: center;
}

.mypage_post.active {
  color: $font_main_color;
  background-color: #FFF;
  font-weight: bold;
  border-bottom: 2px $font_main_color solid;
}

.mypage_post {
display: block;
padding: 0.5rem 1rem;
}

.mypage_icon {
  display: flex;
}

fieldset {
border: none;
padding: 0;
margin: 0;
}


.radio-inline__input {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

.radio-inline__label {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-right: 18px;
  border-radius: 3px;
  transition: all .2s;
}

.radio-inline__input:checked + .radio-inline__label {
  background: $btn_color;
  color: #fff;
  text-shadow: 0 0 1px rgba(0,0,0,.7);
}

.radio-inline__input:focus + .radio-inline__label {
  outline-color: #4D90FE;
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 5px;
}

.foot {
text-align: center;
padding-top: 20vh;
color: #A4A8B1;
}
.foot_img {
  width: 300px;
  text-align: center;
}

.participating_title {
  border-bottom: 1px #AAAAAA solid;
}

.room_show {
  margin-top: 50px;
  position: fixed;
  z-index: 1;
  line-height: 50px;
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: $btn_color;
  border-bottom: solid 2px #d27d00;
  border-radius: 4px;
  right: 0;
}

.room_show:active {
  border-bottom: solid 2px $btn_color;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

.logout {
  text-align: right;
  color: $font_main_color;
  font-size: 20px;
  padding-right: 54px;
}

.password_change {
  text-align: right;
  color: red;
  font-size: 20px;
  padding-right: 10px;
}

.form_select, .form_select_nobtn {
  width: 300px;
}

.tournament_date, .community_date {
  color: $font_main_color!important;
}

.form_time_select {
  max-width: 100px;
}

.time_between {
  line-height: 46px;
  color: #000;
}

.gmap_info_window_date {
    color: $font_main_color;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    padding-left: 10px;
}

.gmap_info_window_limit {
  font-size: 16px;
  text-align: left;
  padding-left: 10px;
}

.gmap_info_window_money {
  font-size: 16px;
  text-align: left;
  padding-left: 10px;
}

.gmap_info_window_address {
    margin-top: 10px;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
}

.tagsinput {
  width: 100%;
}

#default_text {
  line-height: 36px;
  color: gray;
  position: absolute;
}

.post_choice {
  margin-bottom: 30px;
}

.date_form {
  width: auto;
  margin: 0 auto;
}

.date_form_span {
  line-height: 46px;
  padding-left: 5px;
  padding-right: 5px;
}

.date_form_group {
  margin-bottom: 20px;
  justify-content: center;
  text-align: center;
}

.date_form_title {
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 991px) {
  .header_top_left { padding-top: 0; padding-bottom: 0; }
  .header_top_right { padding-top: 0; padding-bottom: 0; }
  .header_comment { text-align: center; }
  .view-more { text-align: center; }
  .top_bottom_title { font-size: 25px; }
  .search_media { margin-top: 60px; }
  .container-fluid {margin-bottom: $footer_menu_height; }
  .container {margin-bottom: $footer_menu_height; }
  #fixed_bottom { width: 100%;
                  bottom: $footer_menu_height; }
  .show_media { box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .1); }
  .sidebar { background-color: #FFF; margin-bottom: $footer_menu_height; position: relative; }
  .search_sidebar { background-color: #FFF; position: relative; margin-top: 0 }
  .index_map { height: 600px; }
  .icon_image { width: 50px; height: 50px; }
  .profile_img{ display: flex; }
  .mypage_img { text-align: center; }
  .mypage_icon { display: block; }
  .balloon-text-left { margin-top: 0; }
  .post_box_outer { width: 100%; }
  .balloon-name-description{ padding: 10px 0 0 10px; font-size: 20px; text-align: center; }
  .profile_link { width: 21rem; left: 10px; }
  .show_map { height: 300px; }
  .logout { font-size: 17px; padding-right: 47px; }
  .password_change { font-size: 17px }
  .search_tag { padding-right: 60px; }
  .date_form_group { display: flex; }
  .date_form{ margin: 0; }
}

@media screen and (max-width: 500px) {
  .date_form_group { display: block; }
  .date_form { margin: 0 auto; }
}
