<div class="container-fluid">
  <div class="row">
    <nav class="col-lg-3 sidebar">
      <%= render "tournament_message_bar" %>
    </nav>
		<main class="col-lg-9 d-none d-lg-block ml-auto header_next">
      <div class="foot">
        <img src="/img/foot.jpg" alt="トークルーム" class="foot_img">
        <h3 class="my-4">参加済みの大会</h3>
      </div>
		</main>
	</div>
</div>
