<div class="container-fluid">
  <div class="row">
    <%= render "post_search_bar" %>
		<main class="col-md-9 px-4 ml-sm-auto header_next">
      <div class="heading">
				<h2>対戦</h2>
			</div>
      <fieldset class="d-block d-md-none">
        <input id="item-1" class="radio-inline__input" type="radio" name="accessible-radio" value="/posts" onclick="location.href=this.value" checked="checked"/>
        <label class="radio-inline__label" for="item-1">
            対戦
        </label>
        <input id="item-2" class="radio-inline__input" type="radio" name="accessible-radio" onclick="location.href=this.value" value="/tournaments"/>
        <label class="radio-inline__label" for="item-2">
            大会
        </label>
        <input id="item-3" class="radio-inline__input" type="radio" name="accessible-radio" value="/communities" onclick="location.href=this.value"/>
        <label class="radio-inline__label" for="item-3">
            イベント
        </label>
        </fieldset>
      <%= render "post_show" %>
			<%= paginate @posts %>
		</main>
	</div>
</div>
