<div class="container-fluid">
  <div class="row">
    <%= render "post_search_bar" %>
		<main class="col-lg-9 px-4 ml-auto header_next">
			<div class="heading">
				<h2>対戦の検索結果</h2>
			</div>
      <%= render "post_show" %>
			<%= paginate @posts %>
		</main>
	</div>
</div>
