<nav class="nav nav-pills nav-justified footer_menu_body d-md-none">
  <a class="nav-item nav-link" href="/posts/all_content"><i class="fas fa-list"></i></a>
  <a class="nav-item nav-link" href="/rooms/private_message"><i class="fas fa-comments"></i></a>
  <a class="nav-item nav-link" href="/rooms/participating_post"><i class="fas fa-globe-asia"></i></a>
  <a class="nav-item nav-link" href="/rooms/participating_tournament"><i class="fas fa-chess"></i></a>
  <a class="nav-item nav-link" href="/rooms/participating_community"><i class="fas fa-users"></i></a>
</nav>
