<div class="col-lg-3 search_sidebar order-2">
  <%= search_form_for @q, url: communities_search_community_path, class:"ml-4 w-75 d-inline center-block" do |f| %>
    <div class="input-group header_top">
      <%= f.search_field :community_place_or_community_date_or_community_limit_or_community_money_or_community_all_tag_cont, class: 'tagsinput tags_search', id: "tags_search" %>
      <%= f.submit ("🔍"), class: 'btn btn-secondary' %>
    </div>
  <% end %>
  <div class="search_tag">
    <span class="search_tag_text">#将棋ウォーズ</span>
    <span class="search_tag_text">#将棋オンライン</span>
    <span class="search_tag_text">#ぴよ将棋</span>
    <span class="search_tag_text">#将棋クエスト</span>
    <span class="search_tag_text">#将棋倶楽部24</span>
    <span class="search_tag_text">#どうぶつ将棋ウォーズ</span>
    <span class="search_tag_text">#ぬこしょうぎ</span>
  </div>
</div>
