<div class="container-fluid">
  <div class="row">
    <%= render "community_search_bar" %>
		<main class="col-md-9 px-4 ml-sm-auto header_next">
      <select onChange="location.href=value;" class="search_media">
        <option value="/communities">イベントを探す</option>
        <option value="/posts">対戦相手を探す</option>
        <option value="/tournaments">大会を探す</option>
      </select>
			<div class="heading">
				<h2>イベント</h2>
			</div>
      <div id='map' class="index_map"></div>
      <div class="heading">
        <h2>一覧</h2>
      </div>
      <%= render 'community_show' %>
			<%= paginate @communities %>
		</main>
	</div>
</div>
<nav class="nav nav-pills nav-justified footer_menu_body d-md-none">
  <a class="nav-item nav-link" href="/posts"><i class="fas fa-list"></i></a>
  <a class="nav-item nav-link" href="/rooms/private_message"><i class="fas fa-comments"></i></a>
  <a class="nav-item nav-link" href="/rooms/participating_post"><i class="fas fa-globe-asia"></i></a>
  <a class="nav-item nav-link" href="/rooms/participating_tournament"><i class="fas fa-chess"></i></a>
  <a class="nav-item nav-link" href="/rooms/participating_community"><i class="fas fa-users"></i></a>
</nav>

<%= javascript_pack_tag 'maps_index' %>
