<div class="container-fluid">
  <div class="row">
    <%= render "community_search_bar" %>
		<main class="col-lg-9 px-4 ml-auto header_next">
			<div class="heading">
				<h2>イベントの検索結果</h2>
			</div>
      <%= render 'community_show' %>
			<%= paginate @communities %>
		</main>
	</div>
</div>
