<p>この度は「ノシ将棋」をご利用いただき誠にありがとうございます。</P>

<p>※※本メールは、送信専用アドレスによる自動送信メールとなっております。※※</p>

<p>現時点ではまだ仮登録です。<br>
  下記のURLにアクセスし、ユーザー登録を完了してください。</P>

<p><%= link_to '登録完了', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>※万が一メール遅延などで上記有効期限が過ぎていた場合はご了承ください。<br>
再度、パスワード変更用URLの取得をお願いします。<br>
※こちらのメールにお心当たりがない場合は、恐れ入りますがそのまま削除してください。</p>
<p>※配信専用アドレスのため、このメールに返信いただいてもお答え致しかねます。予めご了承ください。</P>

<p>==================================================================================================</p>
<p>ノシ将棋　管理人　木下<br>
<p>■ご質問はこちらよりお願いいたします。</P>
<p>メールアドレス：<%= mail_to 'shogi.communities@gmail.com', 'shogi.communities@gmail.com'  %>
<p>==================================================================================================</p>
